In [8]:
import pandas as pd
import os

In [23]:
files = os.listdir(os.path.join(os.getcwd(), '../data/chunks/'))

files.sort()

print(files)

['players_0_to_1000.csv', 'players_1000_to_1100.csv']

In [25]:
mod = '../data/chunks/'
chunks_dir = os.path.join(os.getcwd(), mod)
files = os.listdir(chunks_dir)
files.sort()
print(files)

['players_0_to_1000.csv', 'players_1000_to_1100.csv']

In [29]:
final_df = pd.DataFrame()

for i, filename in enumerate(files):
    print(filename)
    df = pd.read_csv(os.path.join(chunks_dir, filename), index_col=0)
    print(df.head())
    if i == 0:
        final_df = df
    else:
        final_df = pd.concat([final_df, df])

players_0_to_1000.csv
   PLAYER_ID  SEASON_ID  LEAGUE_ID     TEAM_ID TEAM_ABBREVIATION  PLAYER_AGE  \
7         51       1998          0  1610612758               SAC        29.0
8         51       2001          0  1610612763               VAN        32.0
0       1505       1998          0  1610612758               SAC        23.0
1       1505       1999          0  1610612758               SAC        24.0
2       1505       2000          0  1610612753               ORL        25.0

   GP  GS     MIN  FGM  ...   DREB    REB  AST   STL   BLK   TOV   PF  PTS  \
7  31   0   530.0  103  ...   31.0   37.0   58  16.0   1.0  19.0   31  227
8  41   0   485.0  120  ...   20.0   25.0   76   9.0   1.0  26.0   50  266
0  59  16   959.0  144  ...   72.0  116.0   51  35.0  13.0  65.0   81  376
1  49  49  1205.0  177  ...  114.0  186.0   50  50.0  16.0  70.0  121  454
2  46  46  1205.0  223  ...  162.0  239.0   72  53.0  16.0  87.0  116  563

   ALL_NBA_TEAM_NUMBER                NAME
7                    0  Mahmoud Abdul-Rauf
8                    0  Mahmoud Abdul-Rauf
0                    0   Tariq Abdul-Wahad
1                    0   Tariq Abdul-Wahad
2                    0   Tariq Abdul-Wahad

[5 rows x 29 columns]
Josh Davis
players_1000_to_1100.csv
   PLAYER_ID  SEASON_ID  LEAGUE_ID     TEAM_ID TEAM_ABBREVIATION  PLAYER_AGE  \
2        707       1998          0  1610612755               PHI        25.0
3        707       1999          0  1610612748               MIA        26.0
4        707       2000          0  1610612744               GSW        27.0
0     200781       2007          0  1610612746               LAC        22.0
1     200781       2008          0  1610612746               LAC        23.0

   GP  GS    MIN  FGM  ...  DREB  REB  AST  STL  BLK  TOV  PF  PTS  \
2  71  12  906.0  109  ...    94  158   73   49   18   91  95  282
3   4   1   35.0    2  ...     5    7    1    1    0    7  12    9
4  23   7  464.0   56  ...    53   84   38   25    4   40  52  143
0  31   0  180.0   22  ...    23   44    7    6    5    8  28   51
1  22   1  194.0   24  ...    22   47   10    6    6    9  33   54

   ALL_NBA_TEAM_NUMBER        NAME
2                    0  Mark Davis
3                    0  Mark Davis
4                    0  Mark Davis
0                    0  Paul Davis
1                    0  Paul Davis

[5 rows x 29 columns]
Juan Dixon

In [30]:
final_df

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,DREB,REB,AST,STL,BLK,TOV,PF,PTS,ALL_NBA_TEAM_NUMBER,NAME
7,51,1998,0,1610612758,SAC,29.0,31,0,530.0,103,...,31.0,37.0,58,16.0,1.0,19.0,31,227,0,Mahmoud Abdul-Rauf
8,51,2001,0,1610612763,VAN,32.0,41,0,485.0,120,...,20.0,25.0,76,9.0,1.0,26.0,50,266,0,Mahmoud Abdul-Rauf
0,1505,1998,0,1610612758,SAC,23.0,59,16,959.0,144,...,72.0,116.0,51,35.0,13.0,65.0,81,376,0,Tariq Abdul-Wahad
1,1505,1999,0,1610612758,SAC,24.0,49,49,1205.0,177,...,114.0,186.0,50,50.0,16.0,70.0,121,454,0,Tariq Abdul-Wahad
2,1505,2000,0,1610612753,ORL,25.0,46,46,1205.0,223,...,162.0,239.0,72,53.0,16.0,87.0,116,563,0,Tariq Abdul-Wahad
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6,2413,2007,0,0,TOT,28.0,81,6,1926.0,299,...,131.0,158.0,123,76.0,9.0,101.0,177,778,0,Juan Dixon
7,2413,2008,0,1610612761,TOR,29.0,36,0,424.0,59,...,38.0,47.0,65,21.0,2.0,35.0,38,153,0,Juan Dixon
8,2413,2008,0,1610612765,DET,29.0,17,0,244.0,47,...,22.0,28.0,32,0.0,0.0,19.0,24,110,0,Juan Dixon
9,2413,2008,0,0,TOT,29.0,53,0,668.0,106,...,60.0,75.0,97,21.0,2.0,54.0,62,263,0,Juan Dixon
10,2413,2009,0,1610612764,WAS,30.0,50,6,816.0,101,...,59.0,67.0,118,35.0,6.0,70.0,74,261,0,Juan Dixon